<style>
html {
      width:100%;
      height: 100%;
     }
body {
      background-size: 100% auto;   
      background-size: auto 100%;
      background-color: White;
      border: 4px solid black;
      padding: 30px
     }                                                                                                                                                 
h1 {
      color:Black ; 
      font-family:Georgia;
      text-align:center;
    }
pre {
	  font-size : 6;
	  font-family:Georgia;
}

p {
    color: Black;
}
img {
    float:right;
    width:300px;
    height:150px;
     }
span  {
    color:Green;
   
      }
h3 {
    color: Black;
}
button{
	border:3px solid #336600
}      

</style>
